<%-layout("../layout/boilerplate")%>

    <body>
        <h3>All listing</h3>
            <% for(let listing of allListing){%>
                <div class="card" style="width: 18rem;">
                    <img src="<%=listing.image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><%=listing.description%></p>
                    </div>
                </div>
                <% }%>

    </body>